/* body,html {
  min-height: 100vh;
} */

main {
  /* height: 80vh; */
  background: var(--gray);
  /* background: #AAA492; */
}

main div {
  padding: 20px;
}

footer {
  background: var(--brown);
}
