/* You can add global styles to this file, and also import other style files */
@import "swiper/css";
@import "swiper/css/bundle";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
:root {
  --white: #fff;
  --brown: #bd4b4b;
  --gray: #ecf0f3;
  --red: #e96479;
  --white-border: #eaeaea;
}

* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  min-width: 320px;
  width: 100vw;
}
